<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information-Page</title>
    {% load Static %}
    <link rel="stylesheet" href="{% Static 'mainCss.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Montserrat&family=MuseoModerno:wght@500&family=Roboto+Slab&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="header">
        <h3>Your Personal Information</h3>
    </nav>
    <div class="outerBox">
        <div class="innerBox">
            <p>Name</p>
            <p>Email ID</p>
            <p>Username</p>
            <p>Password</p>
            <p>Address</p>
        </div>
    </div>

</body>

</html>